/*General*/
html {
    scroll-behavior: smooth;
  }
body {
    margin:0;
    padding:0;
    font-family: "Times New Roman", Times, serif;
}
  
  
  /*==================Main nav==================*/
.nav_princ {
  top:0;
  height:4.5em;
  width:100%;
  font-family: "Times New Roman", Times, serif;
}
.nav_site {
	display:inline-block;
	height:100%;
	margin-right:0.3%;
}
.nav_site a {
	background-color:rgb(255, 255, 255);
	display:inline-block;
	height:100%;
	padding: 0 1em 0 1em;
	text-decoration:none;
}
.nav_site a p {
	margin-top:0.5em;
	font-weight:bold;
	font-size:2em;
	color:black;
}
.nav_site a:hover {
	height:90%;
	transition:0.4s;
	opacity:0.9;
}
  
  /*display or not each link*/
@media screen and (max-width: 600px) {
  .navjou{
    display:none;
  }
}
@media screen and (max-width: 450px) {
  .navpro{
    display:none;
  }
}
@media screen and (max-width: 300px) {
  .navart{
    display:none;
  }
}
  
  /*Small text at the right*/
.nav_desc {
  background-color:white;
  float:right;
  font-size:1.3rem;
  text-decoration:none;
  color:grey;
  margin:1.5em 1.5em 0 0;
}
.nav_desc p{
  margin:0;
}
@media screen and (max-width: 850px) {
  .nav_desc {
    display:none;
  }
}
  
  
  /*==================Image/Canva==================*/
  .header-frontpage {
    width:100%;
    background-image: url(../assets/images/img-frontpage.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    text-align:center;
    padding: 10% 0 10% 0;
  }
  .header-frontpage h1 {
    margin:0;
    color:white;
    font-size:7rem;
    font-family: 'Mochiy Pop One', sans-serif;
  }
  
  
   /*==================Nav of the page==================*/
.nav_page {
  height:3rem;
  background:linear-gradient(to right, #f2f2f2, #e6e6e6);	
  position:sticky;
  top:0;
  z-index:2;
}
.nav_page li {
  height:3rem;
  background-color:white;
	padding:0 1rem 0 1rem;
  text-align:center;
  display:table-cell;
  vertical-align: middle;
  font-size:1.3rem;
  text-decoration:none;
  color:black;
}
.nav_page li:hover {
  background:linear-gradient(#2ff197, #37cff5);
  color:white;
}
  
  /*display or not each link*/
@media screen and (max-width: 220px) {
  .nav_page_pres {
    display:none;
  }
}
@media screen and (max-width: 330px) {
  .nav_page_som {
    display:none;
  }
}
   
  /*button return to the top of the page*/
.returntop {
  float:right;
	padding:0.3rem 0 0.3rem 0;
	margin:8px 1.4rem 0 0;
  background:linear-gradient(to right, #2ff197, #37cff5);	
	border-radius:1.4rem;
}
.returntop a {
	padding:0.4rem 0.7rem 0.4rem 0.7rem;
	font-size:1.3rem;
	text-decoration:none;
	color:white;
}
.returntop:hover {
	margin:0.5rem 1.3rem 0 0;
	transition:0.3s;
}
.returntop a:hover {
	font-size:1.4rem;
	color:#d9d9d9;
	transition:0.3s;
}
  
  
  /*==================Content==================*/
.main {
  background-color:#d9d9d9;
  min-width:1100px;
}

.main_section {
  width:100%;
  height: 55rem;
  background-size:cover;
  background-position: center;
}
.game_container {
  margin:0 10% 0 10%;
  height: 94%;
  padding:3% 3% 3% 3%;
}
.game_container h1 {
  font-size: 3rem;
  text-shadow: #000000;
}
.game_container p {
  font-size: 1.4rem;
}
.geckolotLinks img {
	height:100%;
	width:auto;
	vertical-align: middle;
	margin-right: 0.5em;
}
.geckolotLinks {
	border-radius:2mm;
	font-size: 200%;
	text-decoration: none;
	color:white;
  display: inline-block;
  width:10em;
  text-align:center;
  margin:0.8em;
  height:3em;
}
.geckolotLinks:hover {
	opacity: 0.9;
}
.blobArtLinks {
  background-color: rgba(148, 77, 44, 0.767);
	padding: 1em 0 1em 0;
	border-radius:2mm;
	font-size: 200%;
	text-decoration: none;
	color:white;
  display: inline-block;
  width:10em;
  text-align:center;
  margin:0.8em;
  height:1em;
}
.blobArtLinks:hover {
	background-color: rgba(148, 77, 44, 0.7);
}
.gameDescription {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
  margin: 1em;
  color:white;
  width:70%;
  display: inline-block;
}
  
  
  /*==================Footer==================*/
footer {
  height:150px;
  background-color:#333333;
  text-align:center;
	padding:2rem;
  }
footer p {
  color:#d1d0d0;
	font-size:1.3rem;
}
  
  
  /*==================Custom Scrollbar==================*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #404040; 
  background: #d9d9d9; 
}
  
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:#a6a6a6; 
}
::-webkit-scrollbar-thumb:active {
  background: #737373; 
}
